<tr>
  <td class="col-md-6"><%= render 'edit', clope: clope, item: 'marque' %></td>
  <td class="col-md-3"><%= render 'edit', clope: clope, item: 'prix' %></td>
  <td class="col-md-3"><%= clope.quantite %></td>
</tr>
