<% if @account.display_picture %>
  <div class="col-md-12">
    <%= image_tag @account.display_picture, alt: @account.first_name, title: @account.first_name, class: 'account-image' %>
  </div>
<% end %>
<% if @user && @user.sport_picture %>
  <div class="col-md-12">
    <%= image_tag @user.sport_picture, alt: @user.sport, title: @user.sport, class: 'sport-image' %>
  </div>
<% end %>
