<h3><%= I18n.t(:cigarettes) %></h3>
<%= bootstrap_form_tag(
      remote: true, url: "/account/clopes/#{@account.id}", method: :post, layout: :inline,
      html: { id: 'clopes-form' }) do |f| %>
  <div class="row low-padding">
    <div class="col-md-6">
      <%= f.select(:clope_id, Clope.order(quantite: :desc).all.collect { |c| [c.marque, c.id] }, class: 'mousetrap', hide_label: true) %>
    </div>
    <div class="col-md-6">
      <%= f.number_field(:quantity, class: 'mousetrap', hide_label: true, value: 1, min: 1, append: f.primary(I18n.t(:log))) %>
    </div>
  </div>
<% end %>
