<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td>Price</td>
          <td>Receiver</td>
          <td>Admin</td>
          <td>Comment</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @account.transactions.includes(:receiver).includes(:admin).order(date: :desc).limit(1000).each do |t| %>
          <tr>
            <td><%= t.price / 100.0 %></td>
            <td><%= t.receiver.try(:trigramme) %></td>
            <td><%= t.admin.try(:trigramme) %></td>
            <td><%= t.comment %></td>
            <td><%= t.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
      <h1><strong><%= @account.trigramme %></strong></h1>
      <h2>
        <%= @account.first_name %> <%= @account.name %>
        <small><%= @account.promo %></small>
      </h2>
      <span><%= @account.nickname %></span>
      <h3>
        <%= if (@account.birthdate && Date.current.month == @account.birthdate.month && Date.current.day == @account.birthdate.day)
          fa_icon "birthday-cake 2x"
        end %>
        <% if @account.age %>
          <%= @account.age %> ans (<%= @account.birthdate %>)
        <% end %>
      </h3>
      <h1><strong><%= @account.balance / 100.0 %> €</strong></h1>
      <div class="row">
        <div class="input-group input-group-lg">
          <input id="log-input" type="text" class="form-control" placeholder="Paye, bâtard!">
          <span class="input-group-btn">
            <button class="btn btn-primary"><%= fa_icon "money" %>  Log!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
