<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= I18n.t(:no_account_for_trigramme, trigramme: @unknown_trigramme) %></h1>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= I18n.t(:suggested_accounts) %>
    <ul>
      <% @suggestions.each do |s| %>
        <li>
        <a href="/account/<%= s.trigramme %>"><%= s.autocomplete_text %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
