form.form-inline {
  .form-control,
  .form-group,
  .input-group {
    width: 100%;

    .input-group-btn {
      width: 1%;
    }
  }
}

#transactions-table:before {
    background: image-url('pinte.png') no-repeat 0 0/contain;;
    content: '';
    height: calc(100vh - 200px);
    left: 50px;
    opacity: 0.10;
    pointer-events: none;
    position: fixed;
    top: 140px;
    width: calc(100vw - 120px);
}

#account-image {
  max-height: 30vh;
  max-width: 100%;
}

.pagination {
  margin: 0px 0px 20px;
}
