form.form-inline {
  .form-control,
  .form-group,
  .input-group {
    width: 100%;

    .input-group-btn {
      width: 1%;
    }
  }
}

#transactions-table:before {
    background: image-url('pinte.png') no-repeat 50px 0/contain;;
    content: '';
    height: 80vh;
    opacity: 0.10;
    pointer-events: none;
    position: fixed;
    width: 50vw;
}
