<div class="row">
  <div class="col-md-12  text-center">
    <h2><%= I18n.t(:today_birthdays) %>&nbsp;:</h2>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <ul>
      <% birthdays.each do |b| %>
        <li><%= b.autocomplete_text %> (<%= b.age %> ans)</li>
      <% end %>
    </ul>
  </div>
</div>
