<div class="row text-center">
  <div class="col-md-12">
    <h1><%= I18n.t(:welcome) %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <%= high_chart('transactions_volume', @transactions_volume) %>
  </div>
  <div class="col-md-6">
    <%= high_chart('best_consumers', @best_consumers) %>
  </div>
</div>
