<div class="modal fade" id="unauthorized-modal" tabindex="-1" role="dialog" aria-labelledby="unauthorized-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel"><%= I18n.t(:unauthorized) %></h2>
      </div>
      <div class="modal-body">
        <strong><%= I18n.t(:unauthorized_details) %></strong>
      </div>
    </div>
  </div>
</div>
